[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
autopep8 = "*"

[packages]
tornado = "*"
ujson = "*"
poster = {git = "https://github.com/dmorrison42/python-poster"}
urllib3 = "*"

[requires]
python_version = "3.7"
